@import "tailwindcss";
  ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    font-variant: small-caps;
    font-weight: 600;
  }
  ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(https://img.icons8.com/?size=100&id=37375&format=png&color=000000);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 0px;
  }
  ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    height: 28px;
    width: 28px;
    background-image: url(https://cdn3.iconfinder.com/data/icons/user-interface-2421/24/check_checked_success_done_check_circle_ok_ui__tick-1024.png);
}
span{
    position: absolute;
    right: 10px;
    color: red;
    font-weight: 900;
}